<!DOCTYPE html>
<html lang="en">
<head>
    <title>Close page...</title>
</head>
<body>
    <script type="text/javascript">
        // reload the parent page
        window.opener.location.reload();
        // close the popup
        window.close();
    </script>
</body>
</html>